@page "/bind"
@rendermode InteractiveServer

<input @bind="text"/>
<button @onclick=ClearText>Clear</button>
<p>@text</p>

@code {
    private string text = "";

    private void ClearText()
    {
        text = string.Empty;
    }
}